@font-face {
  font-family: 'Helvetica';
  src: url('./styles/fonts/HelveticaNeueLt.ttf'); 
}
html, body{
  height: 100%;
}
body {
  font-family: 'Helvetica';
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom right, #16637F,#1BCC89);
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
h1,h2,h3,h4,h5 {
  font-family: 'Helvetica';
}
td,th {
  vertical-align: middle !important;
}
td:first-of-type{
  height: 200px;
  width: 200px;
}

.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  text-align: center;
}
@media (min-width: 850px) {
  .container {
    max-width: 835px;
  }
}